*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  border: none;
  font-size: 2rem;
  background-color: white;
}

form button {
  color: skyblue;
  background-color: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  background-color: skyblue;
  color: white;
}

.todo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo__list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s ease;
}